# 0601 결측값 확인
- isna 메서드와 notna 메서드 : 결측값을 확인해서 bool형식으로 반환하는 메서드
- isna :결측값이면 -True, 정상값 - False

In [3]:
import pandas as pd
import numpy as np

In [4]:
col  = ['col1','col2','col3','col4']
row  = ['row1','row2','row3']
data = [[1,2,pd.NA,4],
        [np.nan,6,7,8],
        [9,10,11,None]]
df = pd.DataFrame(data,row,col)
print(df)

      col1  col2  col3  col4
row1   1.0     2  <NA>   4.0
row2   NaN     6     7   8.0
row3   9.0    10    11   NaN

In [5]:
#isna/isnull의 사용
print(df.isna())

       col1   col2   col3   col4
row1  False  False   True  False
row2   True  False  False  False
row3  False  False  False   True

In [6]:
#notna/notnull의 사용
print(df.notna())

       col1  col2   col3   col4
row1   True  True  False   True
row2  False  True   True   True
row3   True  True   True  False

# 0602 결측값 제거(dropna)
- dropna : dataframe내의 결측값이 포함된 레이블을 제거하는 메서드

In [7]:
col  = ['col1','col2','col3','col4','col5']
row  = ['row1','row2','row3','row4']
data = [[1,2,3,pd.NA,5],[6,pd.NA,8,pd.NA,10],[11,12,13,14,15],[pd.NA,pd.NA,pd.NA,pd.NA,pd.NA]]
df = pd.DataFrame(data,row,col)
print(df)

      col1  col2  col3  col4  col5
row1     1     2     3  <NA>     5
row2     6  <NA>     8  <NA>    10
row3    11    12    13    14    15
row4  <NA>  <NA>  <NA>  <NA>  <NA>

In [8]:
#axis값에 따른 결측치 제거 수행
print(df.dropna(axis=0)) #axis=0인 경우 -> 결측치가 포함된 모든 행이 제거됨

     col1 col2 col3 col4 col5
row3   11   12   13   14   15

In [9]:
#axis=1인 경우 결측치가 포함된 모든 열 제거
print(df.dropna(axis=1)) #예시의 경우 모든 열에 NA가 존재함.

Empty DataFrame
Columns: []
Index: [row1, row2, row3, row4]

In [10]:
#HOW로 연산기준 정할 경우
#how = any -> 한 값이라도 na를 가진다면 해당 레이블 제거
print(df.dropna(how='any'))

     col1 col2 col3 col4 col5
row3   11   12   13   14   15

In [11]:
#how = all인 경우 모든 값이 na인 레이블만 삭제됨
print(df.dropna(how='all'))

     col1  col2 col3  col4 col5
row1    1     2    3  <NA>    5
row2    6  <NA>    8  <NA>   10
row3   11    12   13    14   15

In [12]:
#thresh를 이용하는 경우
#thresh = 정상값의 수를 보정 가능
print(df.dropna(thresh=3))
#thresh =3 일 경우 정상값이 3개 미만인 경우에 대해서만 결측치 보정함.

     col1  col2 col3  col4 col5
row1    1     2    3  <NA>    5
row2    6  <NA>    8  <NA>   10
row3   11    12   13    14   15

In [13]:
#thresh=4인 경우 정상값이 4개 미만인 경우 결측치 보정함.
print(df.dropna(thresh=4))

     col1 col2 col3  col4 col5
row1    1    2    3  <NA>    5
row3   11   12   13    14   15

In [15]:
#subset인수를 통한 레이블 지정
#subset 에 리스트 형태의 값을 입력하여 결측지 제거를 수행할 레이블을 지정할 수 있음
print(df.dropna(subset = ['col1', 'col2']))

     col1 col2 col3  col4 col5
row1    1    2    3  <NA>    5
row3   11   12   13    14   15

In [16]:
#inplace 인수를 통한 원본의 수정
df.dropna(inplace=True)
print(df)

     col1 col2 col3 col4 col5
row3   11   12   13   14   15

# 0603 결측값 없는 인덱스 확인
- first_valid_index : 처음으로 결측치가 아닌값이 나오는 행의 인덱스 출력
- last_valid_index : 마지막으로 결측치가 아닌값이 나오는 행의 인덱스 출력

In [18]:
col = ['col1','col2']
row = ['row1', 'row2', 'row3', 'row4','row5']
data =  [[np.nan,np.nan],[pd.NA,4],[pd.NA,pd.NaT],[5,6],[np.nan,pd.NA]]
df = pd.DataFrame(data, row, col)
print(df)

      col1  col2
row1   NaN   NaN
row2  <NA>     4
row3  <NA>   NaT
row4     5     6
row5   NaN  <NA>

In [19]:
#first_valid_index의 사용
#처음으로 결측치가 아닌값이 나오는 행의 인덱스 출력
print(df.first_valid_index())

row2

In [20]:
#last_valid_index의 사용
#마지막으로 결측치가 아닌값이 나오는 행의 인덱스 출력
print(df.last_valid_index())

row4

# 0604 결측값 
- fillna : dataframe에서 결측값을 원하는 값으로 변경하는 메서드

In [21]:
col  = ['col1','col2','col3','col4','col5']
row  = ['row1','row2','row3','row4','row5']
na = np.nan
data = [[na, 2,na, 4,na],
        [ 6, 7,na, 9,na],
        [11,na,na,14,15],
        [na,17,na,na,20],
        [na,22,na,na,25]]
df = pd.DataFrame(data,row,col)
print(df)

      col1  col2  col3  col4  col5
row1   NaN   2.0   NaN   4.0   NaN
row2   6.0   7.0   NaN   9.0   NaN
row3  11.0   NaN   NaN  14.0  15.0
row4   NaN  17.0   NaN   NaN  20.0
row5   NaN  22.0   NaN   NaN  25.0

In [22]:
#value의 형식에 따른 사용
print(df.fillna('A'))

      col1  col2 col3  col4  col5
row1     A   2.0    A   4.0     A
row2   6.0   7.0    A   9.0     A
row3  11.0     A    A  14.0  15.0
row4     A  17.0    A     A  20.0
row5     A  22.0    A     A  25.0

In [24]:
#dict 형태로 입력할 경우 각각 레이블값에 대해 원하는 값으로의 변경 가능
dict = {'col1':'A','col2':'B','col3':'C','col4':'D','col5':'E'}
print(df.fillna(value=dict))

      col1  col2 col3  col4  col5
row1     A   2.0    C   4.0     E
row2   6.0   7.0    C   9.0     E
row3  11.0     B    C  14.0  15.0
row4     A  17.0    C     D  20.0
row5     A  22.0    C     D  25.0

In [25]:
#method 인수를 사용하는 경우
#method인수에 bfill를 입력할 경우 결측값이 아래와 동일하게 설정됨
print(df.fillna(method = 'bfill'))

      col1  col2  col3  col4  col5
row1   6.0   2.0   NaN   4.0  15.0
row2   6.0   7.0   NaN   9.0  15.0
row3  11.0  17.0   NaN  14.0  15.0
row4   NaN  17.0   NaN   NaN  20.0
row5   NaN  22.0   NaN   NaN  25.0

In [26]:
#method인수에 ffill을 입력할 경우 결측값이 바로 위값과 동일하게 설정됨
print(df.fillna(method = 'ffill'))

      col1  col2  col3  col4  col5
row1   NaN   2.0   NaN   4.0   NaN
row2   6.0   7.0   NaN   9.0   NaN
row3  11.0   7.0   NaN  14.0  15.0
row4  11.0  17.0   NaN  14.0  20.0
row5  11.0  22.0   NaN  14.0  25.0

In [27]:
#limit인수를 사용하는 경우
print(df.fillna('A', limit=2))

      col1  col2 col3  col4  col5
row1     A   2.0    A   4.0     A
row2   6.0   7.0    A   9.0     A
row3  11.0     A  NaN  14.0  15.0
row4     A  17.0  NaN     A  20.0
row5   NaN  22.0  NaN     A  25.0

In [29]:
#downcast인수를 'infer'로 설정함으로써 float64 -> int64형태로 변경함
print(df.fillna(0, downcast ='infer'))

      col1  col2  col3  col4  col5
row1     0     2     0     4     0
row2     6     7     0     9     0
row3    11     0     0    14    15
row4     0    17     0     0    20
row5     0    22     0     0    25

In [30]:
#inplace를 사용하는 경우
df.fillna('A', inplace=True)
print(df)

      col1  col2 col3  col4  col5
row1     A   2.0    A   4.0     A
row2   6.0   7.0    A   9.0     A
row3  11.0     A    A  14.0  15.0
row4     A  17.0    A     A  20.0
row5     A  22.0    A     A  25.0

# 0605 결측값 없는 마지막 행 변환
- asof : 인덱스 기준으로 where 이전에 결측치가 없는 마지막 행을 구함

In [32]:
row = [10,20,30,40,50,60]
n = np.nan
data = {'A':[1,n,n,4,5,6],'B':[7,8,9,10,n,12]}
df = pd.DataFrame(data=data, index = row)
print(df)

      A     B
10  1.0   7.0
20  NaN   8.0
30  NaN   9.0
40  4.0  10.0
50  5.0   NaN
60  6.0  12.0

In [33]:
#기본적인 사용법
#where이 단일값이면 반환은 series 형태로 하게 됨
print(df.asof(where = 45))

A     4.0
B    10.0
Name: 45, dtype: float64

In [34]:
#입력값이 list인 경우
#입력값이 list인 경우 list의 각각 요소에 대해 조건을 만족하는 행을 dataframe 형태로 변환함
print(df.asof(where=[10,45,60]))
#10이전에 A와 B 모두 결측치가 없는 행10
#45이전에 A와 B모두 결측치가 없는 행 40
#60이전에 A와 B모두 결측치가 없는 행 60

      A     B
10  1.0   7.0
45  4.0  10.0
60  6.0  12.0

In [35]:
#subset => 특정 열에 대해서만 만족하는 경우를 반환함
print(df.asof(where = [10,35,60], subset= 'A'))
#10이전에 A에 대해서 결측치가 없는 행 10
#35이전에 A에 대해서 결측치가 없는 행 10
#60이전에 A에 대해서 결측치가 없는 행 60

      A     B
10  1.0   7.0
35  1.0   7.0
60  6.0  12.0

In [36]:
print(df.asof(where =[10,35,60], subset = 'B'))
#10이전에 B에 대해서 결측치가 없는 행 10
#35이전에 B에 대해서 결측치가 없는 행 30
#60이전에 B에 대해서 결측치가 없는 행 60

      A     B
10  1.0   7.0
35  NaN   9.0
60  6.0  12.0