# 0401 레이블 기반_스칼라(at)
- at 함수 : loc함수와 같이 레이블 기반으로 인덱싱

In [7]:
import pandas as pd
import numpy as np

In [8]:
df = pd.DataFrame([[1,2], [3,4]], index=['row1', 'row2'], columns=['col1', 'col2'])
print(df)

      col1  col2
row1     1     2
row2     3     4

In [12]:
result = df.at['row1', 'col2']

In [13]:
print(result)

2

In [19]:
df.loc['row2', 'col1'] = '변경'

In [20]:
print(df)

     col1  col2
row1    1     2
row2   변경     4

In [18]:
#loc 메서드를 이용해 series 추출한 뒤 at 메서드를 이용해 스칼라 값을 얻는 방식으로 활용 가능
df.loc['row2'].at['col2']

4

# 0402 레이블 기반_데이터(loc)
- loc함수 = at함수와 같이 레이블 기반으로 인덱싱 함

In [21]:
df = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]], index=['row1', 'row2', 'row3'],
                  columns=['col1', 'col2', 'col3'])
print(df)

      col1  col2  col3
row1     1     2     3
row2     4     5     6
row3     7     8     9

In [22]:
result = df.loc['row1']
print(result)

col1    1
col2    2
col3    3
Name: row1, dtype: int64

In [23]:
result = df.loc[['row1', 'row3']]
print(result)

      col1  col2  col3
row1     1     2     3
row3     7     8     9

In [24]:
result = df.loc['row2', 'col2']
print(result)

5

In [25]:
result = df.loc['row1' : 'row3', 'col2']
print(result)

row1    2
row2    5
row3    8
Name: col2, dtype: int64

In [26]:
bool =[False, True, False]
result = df.loc[bool]

In [27]:
print(result)

      col1  col2  col3
row2     4     5     6

In [28]:
# bool로 구성된 series를 반환하는 조건문의 사용 가능
result = df.loc[df['col3']>5]
print(result)

      col1  col2  col3
row2     4     5     6
row3     7     8     9

In [29]:
result = df.loc[ df['col3'] > 5, ['col2'] ] 
print(result)

      col2
row2     5
row3     8

In [30]:
#람다함수 이용해 인덱싱
result = df.loc[lambda df : df['col2']==5]
print(result)

      col1  col2  col3
row2     4     5     6

In [31]:
# 값 설정하기
df.loc[['row1', 'row3'], ['col3']] = 'A'
print(df)

      col1  col2 col3
row1     1     2    A
row2     4     5    6
row3     7     8    A

In [32]:
df.loc[['row1']] = 'A'
print(df)

     col1 col2 col3
row1    A    A    A
row2    4    5    6
row3    7    8    A

In [33]:
df.loc[:, ['col3']] = 'B'
print(df)

     col1 col2 col3
row1    A    A    B
row2    4    5    B
row3    7    8    B

In [40]:
df1 =  pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]], index=['row1', 'row2', 'row3'],
                  columns=['col1', 'col2', 'col3'])
print(df1)

      col1  col2  col3
row1     1     2     3
row2     4     5     6
row3     7     8     9

In [41]:
df1.loc[ : , ['col3'] ] = 'B' 
print(df1)

      col1  col2 col3
row1     1     2    B
row2     4     5    B
row3     7     8    B

In [43]:
df2 = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]], index=['row1', 'row2', 'row3'],
                  columns=['col1', 'col2', 'col3'])
df2.loc[df2['col2']>3] = 'A'
print(df2)

     col1 col2 col3
row1    1    2    3
row2    A    A    A
row3    A    A    A

# 0403 정수기반_스칼라(iat)
- iloc함수와 같이 정수기반으로 인덱싱함

In [46]:
df = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]], index= ['row1','row2', 'row3'], columns=
                 ['col1', 'col2', 'col3'])
print(df)

      col1  col2  col3
row1     1     2     3
row2     4     5     6
row3     7     8     9

In [47]:
# 값 가져오기
# 정수기반 조회 메서드
# 행/열 쌍을 정수로 입력
result = df.iat[1,2]
print(result)

6

In [48]:
# 값 설정하기
df.iat[1,2]='A'
print(df)

      col1  col2 col3
row1     1     2    3
row2     4     5    A
row3     7     8    9

# 0404 정수기반_데이터(iloc)

In [49]:
df = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]], index=['row1', 'row2', 'row3'], columns=['col1', 'col2', 'col3'])
print(df)

      col1  col2  col3
row1     1     2     3
row2     4     5     6
row3     7     8     9

In [50]:
result = df.iloc[0]
print(result)

col1    1
col2    2
col3    3
Name: row1, dtype: int64

In [51]:
#리스트로 특정 행, 열 지정하기
result = df.iloc[[0,2]]
print(result)

      col1  col2  col3
row1     1     2     3
row3     7     8     9

In [52]:
result = df.iloc[1:2]
print(result)

      col1  col2  col3
row2     4     5     6

In [53]:
bool_list = [True, False, True]
result = df.iloc[bool_list]
print(result)

      col1  col2  col3
row1     1     2     3
row3     7     8     9

In [54]:
result = df.iloc[lambda x : x.index == 'row3']
print(result)

      col1  col2  col3
row3     7     8     9

# 0405 앞에서 n행 인덱싱(head)

In [55]:
data = np.random.randint(10, size=(10,10))
df= pd.DataFrame(data=data)
print(df)

   0  1  2  3  4  5  6  7  8  9
0  4  4  9  5  7  6  1  1  1  1
1  0  8  1  7  1  6  6  0  8  5
2  9  9  1  6  2  3  7  5  4  1
3  6  4  1  0  5  9  8  6  5  3
4  3  8  8  1  7  2  8  8  7  9
5  8  0  7  2  1  6  0  6  2  8
6  5  2  6  4  1  9  5  0  2  9
7  1  2  7  6  8  5  9  5  0  9
8  6  3  1  6  5  1  5  3  3  4
9  2  4  0  4  5  2  6  2  3  3

In [56]:
#만약에 음수이면 끝에서 n개열 제외하고 반환함.
print(df.head(-3))

   0  1  2  3  4  5  6  7  8  9
0  4  4  9  5  7  6  1  1  1  1
1  0  8  1  7  1  6  6  0  8  5
2  9  9  1  6  2  3  7  5  4  1
3  6  4  1  0  5  9  8  6  5  3
4  3  8  8  1  7  2  8  8  7  9
5  8  0  7  2  1  6  0  6  2  8
6  5  2  6  4  1  9  5  0  2  9

In [57]:
check = df.head(3)
print(check.index)

RangeIndex(start=0, stop=3, step=1)

# 0406 뒤에서 n행 인덱싱(tail)

In [58]:
data = np.random.randint(10,size=(10,10))
df = pd.DataFrame(data=data)
print(df)

   0  1  2  3  4  5  6  7  8  9
0  9  8  4  5  4  3  8  5  1  9
1  3  9  4  8  7  9  6  4  7  1
2  4  9  1  7  6  0  1  4  7  8
3  7  2  2  1  4  3  7  9  4  0
4  4  7  7  4  5  3  4  2  9  2
5  3  1  1  4  1  5  6  9  7  5
6  5  4  6  7  8  1  4  7  2  9
7  8  4  4  0  5  8  0  2  3  7
8  3  4  2  6  5  5  4  2  2  5
9  6  2  1  5  7  9  9  7  3  5

In [59]:
print(df.tail(3))

   0  1  2  3  4  5  6  7  8  9
7  8  4  4  0  5  8  0  2  3  7
8  3  4  2  6  5  5  4  2  2  5
9  6  2  1  5  7  9  9  7  3  5

In [60]:
print(df.tail(-3))

   0  1  2  3  4  5  6  7  8  9
3  7  2  2  1  4  3  7  9  4  0
4  4  7  7  4  5  3  4  2  9  2
5  3  1  1  4  1  5  6  9  7  5
6  5  4  6  7  8  1  4  7  2  9
7  8  4  4  0  5  8  0  2  3  7
8  3  4  2  6  5  5  4  2  2  5
9  6  2  1  5  7  9  9  7  3  5

In [61]:
#출력시에 보이는 출력물만 n열까지만 보여주는 것이 아니라 실제 값이 바뀜
check=df.tail(3)
print(check.index)

RangeIndex(start=7, stop=10, step=1)

# 0407 multi index의 경우

In [62]:
index_tuples = [('row1', 'val1'), ('row1', 'val2'), 
                ('row2', 'val1'), ('row2', 'val2'), ('row2', 'val3'), 
                ('row3', 'val2'),('row3', 'val3')]
values = [ [1,2,3], [4,5,6], [7,8,9], [10,11,12], [13,14,15], [16,17,18], 
          [19,20,21]]
index = pd.MultiIndex.from_tuples(index_tuples) # 인덱스 설정
df = pd.DataFrame(values, columns=['col1', 'col2', 'col3'], index = index)
print(df)

           col1  col2  col3
row1 val1     1     2     3
     val2     4     5     6
row2 val1     7     8     9
     val2    10    11    12
     val3    13    14    15
row3 val2    16    17    18
     val3    19    20    21

In [63]:
result = df.loc['row2']
print(result)

      col1  col2  col3
val1     7     8     9
val2    10    11    12
val3    13    14    15

In [64]:
result = df.loc[('row2', 'val2')]
print(result)

col1    10
col2    11
col3    12
Name: (row2, val2), dtype: int64

In [65]:
result = df.loc[[('row2','val2')]]
print(result)

           col1  col2  col3
row2 val2    10    11    12

In [66]:
result = df.loc[('row2', 'val2'), 'col3']
print(result)

12

In [67]:
#row1의 val2부터 row3의 val2까지
result = df.loc[('row1', 'val2'): ('row3', 'val2')]
print(result)

           col1  col2  col3
row1 val2     4     5     6
row2 val1     7     8     9
     val2    10    11    12
     val3    13    14    15
row3 val2    16    17    18