# 10-1 인덱스(index)

In [4]:
import pandas as pd
import numpy as np

In [5]:
#인덱스 pandas객체의 index(행)을 출력
df = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]], index=['row1', 'row2', 'row3'], columns=['col1', 'col2', 'col3'])
print(df)

      col1  col2  col3
row1     1     2     3
row2     4     5     6
row3     7     8     9

In [6]:
#index명과 type이 차례로 출력되는 것을 index를 통해
result = df.index
print(result)

Index(['row1', 'row2', 'row3'], dtype='object')

In [7]:
print(type(result))

<class 'pandas.core.indexes.base.Index'>

# 10-02 열(columns)
- columns 판다스 객체의 columns열 출력함.

In [8]:
df = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]], index=['row1', 'row2', 'row3'], columns=['col1', 'col2', 'col3'])
print(df)

      col1  col2  col3
row1     1     2     3
row2     4     5     6
row3     7     8     9

In [9]:
result = df.columns
print(result)

Index(['col1', 'col2', 'col3'], dtype='object')

In [10]:
print(type(result)) #pandas의 index 타입임

<class 'pandas.core.indexes.base.Index'>

# 10-03 데이터 타입(type)
- dtypes : 열에 포함된 데이터들의 type을 series 형태로 반환

In [11]:
df = pd.DataFrame([[1,'A',3.1], [4,'B',6.2], [7,'C',9.3]], index=['row1', 'row2', 'row3'], columns=['col1', 'col2', 'col3'])
print(df)

      col1 col2  col3
row1     1    A   3.1
row2     4    B   6.2
row3     7    C   9.3

In [12]:
df.dtypes

col1      int64
col2     object
col3    float64
dtype: object

In [13]:
result = df.dtypes
print(result)

col1      int64
col2     object
col3    float64
dtype: object

In [14]:
print(type(result))

<class 'pandas.core.series.Series'>

# 10-04 축 (axes)
- 객체의 축 레이블 정도를 list형태로 반환함

In [15]:
df = pd.DataFrame(data=[[1,2],[3,4],[5,6],[7,8]],index=['row1','row2','row3','row4'],columns=['col1','col2'])
print(df)

      col1  col2
row1     1     2
row2     3     4
row3     5     6
row4     7     8

In [16]:
result = df.axes 
print(result)

[Index(['row1', 'row2', 'row3', 'row4'], dtype='object'), Index(['col1', 'col2'], dtype='object')]

In [17]:
print(result[0])# 행 정보

Index(['row1', 'row2', 'row3', 'row4'], dtype='object')

In [18]:
print(result[1]) #열정보

Index(['col1', 'col2'], dtype='object')

# 10-05 차원(ndim)
- 데이터의 차원(축의 수) 반환
- series는 1
- dataframe은 2를 출력함.

In [19]:
df1 = pd.Series({'idx1':1,'idx2':2,'idx2':2})
print(df1)

idx1    1
idx2    2
dtype: int64

In [20]:
df2 = pd.DataFrame(data=[[1,2], [3,4]], index=['row1', 'row2'], columns=['col1','col2'])
print(df2)

      col1  col2
row1     1     2
row2     3     4

In [22]:
print(df1.ndim) #series이면 1을 반환

1

In [23]:
print(df2.ndim) #판다스의 경우 2

2

# 10-06 요소의 개수
- 데이터의 총 수의 갯수 
- series : 행의 갯수를 반환함.
- dataframe : 요소의 갯수

In [24]:
df1 = pd.Series({'idx1':1,'idx2':2,'idx2':2})
print(df1)

idx1    1
idx2    2
dtype: int64

In [25]:
df2 = pd.DataFrame(data=[[1,2],[3,4]],index=['row1','row2'],columns=['col1','col2'])
print(df2)

      col1  col2
row1     1     2
row2     3     4

In [26]:
print(df1.size)

2

In [27]:
print(df2.size) #요소의 수

4

# 10-07 차원의 형태(shape)
- 난 처음에 shape가 size랑 같은 거 인줄
- but 이것은 튜플의 형식으로 반환함

In [28]:
data1 = [[1,2,3], [4,5,6], [7,8,9]]
df1 = pd.DataFrame(data = data1, index = ['row1', 'row2', 'row3'], columns=['col1','col2','col3'])
print(df1)

      col1  col2  col3
row1     1     2     3
row2     4     5     6
row3     7     8     9

In [29]:
data2 = [[1,2,3,4]]
df2 = pd.DataFrame(data =data2, index = ['row1'], columns=['col1','col2','col3','col4'])
print(df2)

      col1  col2  col3  col4
row1     1     2     3     4

In [30]:
print(df1.shape) #(3,3)
print(df2.shape) #(1,4)

(3, 3)
(1, 4)

# 10-08 정보축(keyps)
- info axis값을 가져옴

In [31]:
data = [[1,2,3],[4,5,6],[7,8,9]]
col = ['col1','col2','col3']
row = ['row1','row2','row3']
df = pd.DataFrame(data=data,index=row,columns=col)
print(df)

      col1  col2  col3
row1     1     2     3
row2     4     5     6
row3     7     8     9

In [32]:
print(df.keys) #열의 값을 가져옴

<bound method NDFrame.keys of       col1  col2  col3
row1     1     2     3
row2     4     5     6
row3     7     8     9>

# 10-09 키값(열의 요소)반환(get)
- pandas 객체에서 key값을 검색해서 요소를 가져옴
- 찾는 게 없을 경우 default값 반환 default값을 내가 설정할 수 있음.

In [33]:
data = [[1,2,3],[4,5,6],[7,8,9]]
col = ['col1','col2','col3']
row = ['row1','row2','row3']
df = pd.DataFrame(data=data,index=row,columns=col)
print(df)

      col1  col2  col3
row1     1     2     3
row2     4     5     6
row3     7     8     9

In [34]:
result = df.get('col1') #col1의 요소 반환
print(result)

row1    1
row2    4
row3    7
Name: col1, dtype: int64

In [35]:
result = df.get('col4', default = '값이 없습니다.')
print(result)

값이 없습니다.

# 10-10 비교
- compare : 두 객체의 요소차이를 반환함
- other : 원본과 비교할 데이터
- keep_shape : 원본 모양 유지할지 여부
- keep_equal : 값이 같은 경우 값을 출력할지 여부

In [36]:
idx = ['row1','row2','row3','row4']
col = ['col1','col2','col3']
data1 = [['A',1,11],['B',2,12],['C',3,13],['D',4,14]]
data2 = [['X',1,11],['B','Y',12],['C',3,13],['D',4,'Z']]

In [37]:
df1 = pd.DataFrame(data1, idx, col)
print(df1)

     col1  col2  col3
row1    A     1    11
row2    B     2    12
row3    C     3    13
row4    D     4    14

In [38]:
df2 = pd.DataFrame(data2, idx, col)
print(df2)

     col1 col2 col3
row1    X    1   11
row2    B    Y   12
row3    C    3   13
row4    D    4    Z

In [39]:
print(df1.compare(df2)) #self와 other이 multi columns로 추가됨
#NaN은 서로 같다는 말 , 이때 align_axis=1과 같은 말

     col1       col2        col3
     self other self other  self other
row1    A     X  NaN   NaN   NaN   NaN
row2  NaN   NaN  2.0     Y   NaN   NaN
row4  NaN   NaN  NaN   NaN  14.0     Z

In [41]:
#align_axis인수 : self와 other 카테고리가 multi idnex로 반환될지 multi columns반환될지 지정 가능
print(df1.compare(other=df2, align_axis=0))
#align_axis=0이므로 multi index로 추라됨.

           col1 col2  col3
row1 self     A  NaN   NaN
     other    X  NaN   NaN
row2 self   NaN  2.0   NaN
     other  NaN    Y   NaN
row4 self   NaN  NaN  14.0
     other  NaN  NaN     Z

In [42]:
print(df1.compare(other=df2, align_axis=1))

     col1       col2        col3
     self other self other  self other
row1    A     X  NaN   NaN   NaN   NaN
row2  NaN   NaN  2.0     Y   NaN   NaN
row4  NaN   NaN  NaN   NaN  14.0     Z

In [43]:
#keep_shape인수의 사용
#keep_shape = True로 사용할 경우 기존 열 모두 출력
#keep_shape = False일 경우 기본값 차이가 있는 열만 출력함
print(df1.compare(other=df2, keep_shape=True)) #모두 출력

     col1       col2        col3
     self other self other  self other
row1    A     X  NaN   NaN   NaN   NaN
row2  NaN   NaN  2.0     Y   NaN   NaN
row3  NaN   NaN  NaN   NaN   NaN   NaN
row4  NaN   NaN  NaN   NaN  14.0     Z

In [44]:
print(df1.compare(other=df2, keep_shape=False)) #기본값 차이가 있는 값만

     col1       col2        col3
     self other self other  self other
row1    A     X  NaN   NaN   NaN   NaN
row2  NaN   NaN  2.0     Y   NaN   NaN
row4  NaN   NaN  NaN   NaN  14.0     Z

In [45]:
#keep_equal 같은 값을 출력할지 NaN으로 출력할지
print(df1.compare(other=df2, keep_equal=True)) #같은 값 출력

     col1       col2       col3
     self other self other self other
row1    A     X    1     1   11    11
row2    B     B    2     Y   12    12
row4    D     D    4     4   14     Z

In [46]:
#False이면 NaN으로 출력
print(df1.compare(other=df2, keep_equal=False))

     col1       col2        col3
     self other self other  self other
row1    A     X  NaN   NaN   NaN   NaN
row2  NaN   NaN  2.0     Y   NaN   NaN
row4  NaN   NaN  NaN   NaN  14.0     Z

# 10-11 고유한 행의 수(value_counts)
- 구성요소의 값이 완전히 동일한 경우

In [47]:
n=np.NaN
idx = ['row1','row2','row3','row4','row5']
col = ['col1','col2','col3']
data = [['A','Z',3,],['D','Y',n],['B','Z',3],['C','Y',8],['A','Z',3]]
df = pd.DataFrame(data, idx, col)
print(df)

     col1 col2  col3
row1    A    Z   3.0
row2    D    Y   NaN
row3    B    Z   3.0
row4    C    Y   8.0
row5    A    Z   3.0

In [48]:
print(df.value_counts()) #요소로 아무값도 입력하지 않는 경우 행의 모든 값으로 대상으로
#완전히 같은 행의 갯수를 우측에 출력
#row2는 결측치가 있어 제외됨.

col1  col2  col3
A     Z     3.0     2
B     Z     3.0     1
C     Y     8.0     1
dtype: int64

In [49]:
print(df.value_counts(subset=['col2', 'col3']))

col2  col3
Z     3.0     3
Y     8.0     1
dtype: int64

In [51]:
#normalize인수의 사용, 동일한 행의 갯수가 아닌 전체에서 차지하는 비율로 출력됨
print(df.value_counts(subset='col2', normalize=True)) #비율로 출력

col2
Z    0.6
Y    0.4
dtype: float64

In [52]:
print(df.value_counts(subset='col2', normalize=False)) #기본값

col2
Z    3
Y    2
dtype: int64

In [53]:
#sort = 최빈값부터 정렬
#ascending = 오름차순으로 정렬
print(df.value_counts(subset = ['col2', 'col3'], sort=False, ascending=False))

col2  col3
Y     8.0     1
Z     3.0     3
dtype: int64

In [54]:
#sort=True인 경우 제일 고유값의 갯수가 많은 행부터 정렬됨
print(df.value_counts(subset=['col2', 'col3'], sort=True, ascending=False))

col2  col3
Z     3.0     3
Y     8.0     1
dtype: int64

In [55]:
#ascending = True -> 오름 차순
print(df.value_counts(subset=['col2', 'col3'], sort=True, ascending=True))

col2  col3
Y     8.0     1
Z     3.0     3
dtype: int64

In [56]:
#dropna의 사용  #결측치가 포함된 행 계산 x
print(df.value_counts(subset = ['col2', 'col3'], dropna=False))

col2  col3
Z     3.0     3
Y     8.0     1
      NaN     1
dtype: int64

# 10-12 고유한 열의 수(nunique)

In [57]:
idx =  ['row1','row2','row3']
col =  ['col1','col2','col3']
data = [[1,1,n],[1,2,6],[1,3,n]]
df = pd.DataFrame(data, idx, col)
print(df)

      col1  col2  col3
row1     1     1   NaN
row2     1     2   6.0
row3     1     3   NaN

In [58]:
print(df.nunique(axis=0)) #고윳값의 개수 #열 기주

col1    1
col2    3
col3    1
dtype: int64

In [59]:
print(df.nunique(axis=0, dropna=False)) #결측치도 하나의 요소로 취급함.

col1    1
col2    3
col3    2
dtype: int64

In [60]:
print(df.nunique(axis=1)) #행 기준

row1    1
row2    3
row3    2
dtype: int64