# 12-05 결측값이 아닌 요소의 수(count)
* 각 행/열에 결측치가 아닌 요소의 갯수

In [2]:
import numpy as np
import pandas as pd

In [3]:
[N,T,F]=[pd.NA,True,False]
idx = ['row1','row2','row3','row4']
data = {'col1':[1,N,N,4.0],'col2':['A','B','C',N],'col3':[N,N,N,7],'col4':[1,2.4,3.6,4]}
df = pd.DataFrame(data,idx)
print(df)

      col1  col2  col3  col4
row1     1     A  <NA>   1.0
row2  <NA>     B  <NA>   2.4
row3  <NA>     C  <NA>   3.6
row4   4.0  <NA>     7   4.0

In [4]:
# axis = 0이 기본값으로 열에 대해서 결측치가 아닌 값의 갯수를 구함
print(df.count())

col1    2
col2    3
col3    1
col4    4
dtype: int64

In [5]:
# axis=1 -> 행에 대해서 결측치가 아닌 값의 갯수
print(df.count(axis=1))

row1    3
row2    2
row3    2
row4    3
dtype: int64

In [6]:
# numeric_only 인수의 사용
# numeric_only= TRUE 인 경우 int, float, bool로 구성된 행/열에 대해서만 계산값 반환
print(df.count(numeric_only=True)) # col1, 2, 3은 <NA> 로 구성됨.

col4    4
dtype: int64

# 12-06
* equals : 두 객체가 완벽하게 동일한지 확인하는 메서드

In [7]:
df1 = pd.DataFrame(data=[[1,N], [3, T]])
df2 = pd.DataFrame(data=[[1,N], [3, T]])
print(df1) # 정수형으로

   0     1
0  1  <NA>
1  3  True

In [8]:
df3 = pd.DataFrame(data=[[1,N],[3.0,T]])
print(df3) #실수형으로

     0     1
0  1.0  <NA>
1  3.0  True

In [9]:
# 두 객체가 완벽하게 동일한지는 TRUE, 다르면 fasle로, type이 달라도 False반환
print(df1.equals(df2))

True

In [10]:
print(df1.equals(df3))

False

# 12-07
* bool : bool형인지 판단하는 것

In [11]:
df1 = pd.DataFrame([True],['row'],['col'])
print(df1)

      col
row  True

In [12]:
df2 = pd.DataFrame([False],['row'],['col'])
print(df2)

       col
row  False

In [13]:
print(df1.bool())

True

In [14]:
print(df2.bool())

False

# 12-08 duplicated
* 중복되는 행을 확인하는 메서드
* 행의 모든 요소가 동일한 행이 이미 존재할 경우 해당 행은 True로 반환함

In [15]:
idx = ['row1','row2','row3','row4','row5']
col = ['col1','col2','col3']
data= [['A','가',1],['A','가',1],['A','나',2],['B','나',3],['B','다',4]]
df = pd.DataFrame(data, idx, col)
print(df)

     col1 col2  col3
row1    A    가     1
row2    A    가     1
row3    A    나     2
row4    B    나     3
row5    B    다     4

In [17]:
# keep ='first' 위에서부터 행을 확인하여 중복인 행이 나오면 True 반환
print(df.duplicated(keep='first'))

row1    False
row2     True
row3    False
row4    False
row5    False
dtype: bool

In [18]:
# keep ='last' 아래에서부터 행을 확인하여 중복인 행이 나오면 True 반환
print(df.duplicated(keep ='last'))

row1     True
row2    False
row3    False
row4    False
row5    False
dtype: bool

In [19]:
# subset으로 특정 열만 확인
print(df.duplicated(subset=['col1', 'col3']))

row1    False
row2     True
row3    False
row4    False
row5    False
dtype: bool