# 12-01
- idxmax : 최대 값 인덱스를 반환하는 메서드
- idxmin : 최소 값 인덱스를 반환하는 메서드

In [1]:
import pandas as pd
import numpy as np

In [2]:
n=np.NaN
idx =  ['row1','row2','row3']
col =  ['col1','col2','col3']
data = [[1,2,200],[100,5,6],[7,300,n]]
df = pd.DataFrame(data, idx, col)
print(df)

      col1  col2   col3
row1     1     2  200.0
row2   100     5    6.0
row3     7   300    NaN

In [3]:
#axis=0 인 경우 열에서 최대/최소가 되는 행 출력
print(df.idxmax(axis=0))

col1    row2
col2    row3
col3    row1
dtype: object

In [4]:
#axis-1 인 경우 행에서 최대.최소가 되는 열 출력
print(df.idxmax(axis=1))

row1    col3
row2    col1
row3    col2
dtype: object

In [5]:
print(df.idxmin(axis=1))

row1    col1
row2    col2
row3    col1
dtype: object

In [6]:
#skipna인수의 사용, 기본값 = True 로 결측값이 포함된 행/열을 연산에서 무시
print(df.idxmax(axis=1, skipna=True))

row1    col3
row2    col1
row3    col2
dtype: object

In [7]:
print(df.idxmax(axis=1, skipna=False)) #결측값 무시 안함.

row1    col3
row2    col1
row3     NaN
dtype: object

# 12-02
- empty : dataframe이 비어있는지 여부를 bool형식으로 반환

In [8]:
data_empty=[['','',''],['','',''],['','','']]
df = pd.DataFrame(data = data_empty, index = ['row1', 'row2', 'row3'], columns=['col1','col2','col3'])
print(df)

     col1 col2 col3
row1
row2
row3

In [9]:
print(df.empty) #공백으로 이루어져있지만 이를 비어있다고 생각하지 않는다. " "으로 차있음.

False

In [10]:
df = pd.DataFrame(data = np.nan, index = ['row1', 'row2', 'row3'], columns=['col1','col2','col3'])
print(df)

      col1  col2  col3
row1   NaN   NaN   NaN
row2   NaN   NaN   NaN
row3   NaN   NaN   NaN

In [12]:
print(df.empty) # NaN으로 이루어진 객체도 어쨌든 NaN으로 채워져있기 때문에 df.empty값을 false로 반환

False

In [13]:
# 행이나 열이 없는 개체
df1 = pd.DataFrame(index= ['row1', 'row2', 'row3']) #열이 없는 객체
print(df1)

Empty DataFrame
Columns: []
Index: [row1, row2, row3]

In [14]:
print(df1.empty)

True

In [15]:
#행이 없는 경우
df2 = pd.DataFrame(columns =['col1', 'col2', 'col3'])
print(df2)

Empty DataFrame
Columns: [col1, col2, col3]
Index: []

In [16]:
print(df2.empty)

True

# 12-03 isin - dataframe객체의 각 요소가 values값과 일치하는지 여부를 bool형식으로 반환

In [17]:
data = [[1,1,1],[2,3,4],[5,3,6]]
col = ['col1','col2','col3']
row = ['row1','row2','row3']
df = pd.DataFrame(data=data,index=row,columns=col)
print(df)

      col1  col2  col3
row1     1     1     1
row2     2     3     4
row3     5     3     6

In [18]:
result = df.isin([1,3])
print(result)

       col1  col2   col3
row1   True  True   True
row2  False  True  False
row3  False  True  False

In [19]:
result = df.isin({'col1' : [2,3], 'col3':[1,6]}) #col2에 2 나 3이 있는지, #col3에 1이나 6이 있는지
print(result)

       col1   col2   col3
row1  False  False   True
row2   True  False  False
row3  False  False   True

In [21]:
#series와 dataframe의 사용
match_col = ['col1', 'col3']
match_row = ['row1', 'row3']
match_data = [[2,3], [1, 6]]
match_df = pd.DataFrame(data=match_data, index=match_row, columns= match_col)
print(match_df)

      col1  col3
row1     2     3
row3     1     6

In [22]:
result = df.isin(match_df) #df에 match_df가 있는지 비교
print(result)

       col1   col2   col3
row1  False  False  False
row2  False  False  False
row3  False  False   True

# 12-04 요소의 True/False 확인
- all/any : 축의 값들의 True/False 여부를 판단하는 메서드
- all : 축의 값이 전부 True-> True, 하나라도 False있으면 False를 반환
- any : 축의 값이 하나라도 True가 있으면 True반환, 전부 False이면 False 반환

In [23]:
[N,T,F]=[pd.NA,True,False]
idx = ['row1','row2','row3','row4']
data = {'col1':[T,T,T,T], 'col2':[F,F,F,F],'col3':[F,T,T,T],'col4':[T,N,T,T],'col5':[T,T,'',T],'col6':[T,T,T,0]}
df = pd.DataFrame(data=data, index=idx)
print(df)

      col1   col2   col3  col4  col5  col6
row1  True  False  False  True  True  True
row2  True  False   True  <NA>  True  True
row3  True  False   True  True        True
row4  True  False   True  True  True     0

In [24]:
#기본적인 사용법(all과 any 비교)
print(df.all()) #all은 축의 값은 전부 True면 True, 하나라도 False이면 False

col1     True
col2    False
col3    False
col4     True
col5    False
col6    False
dtype: bool

In [25]:
print(df.any())

col1     True
col2    False
col3     True
col4     True
col5     True
col6     True
dtype: bool

In [26]:
print(df.any(axis=1)) # axis=1 행을 기준으로 실행 하나라도 True가 있으니까

row1    True
row2    True
row3    True
row4    True
dtype: bool

In [27]:
#bool_only =True일 경우 bool형식인 경우만 계산됨
print(df.all(bool_only=True))

col1     True
col2    False
col3    False
dtype: bool

In [28]:
#skipna인수의 사용
#skipna=True이면 True로 반환되어 계산됨, skipna=False이면 결측치가 포함된 축이 계싼에서 제외됨
print(df.all(skipna=True))

col1     True
col2    False
col3    False
col4     True
col5    False
col6    False
dtype: bool

In [29]:
print(df.all(skipna=False))

col1     True
col2    False
col3    False
col5    False
col6    False
dtype: bool

C:\Users\jiyou\AppData\Local\Temp/ipykernel_14052/9720359.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'bool_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.all(skipna=False))